<section class="text-gray-600 body-font">

  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <h2 class="pb-3 lg:px-48 mb-5 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">
      Conheça nosso processo
    </h2>

    <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">

      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-orange-400 pointer-events-none"></div>
      </div>

      <div
           class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-orange-500 text-white relative z-10 title-font font-medium text-sm">
        1</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div
             class="flex-shrink-0 w-24 h-24 bg-orange-300 text-orange-600 rounded-full inline-flex items-center justify-center">

          <svg fill="none"
               stroke="currentColor"
               stroke-linecap="round"
               stroke-linejoin="round"
               stroke-width="2"
               class="w-12 h-12"
               viewBox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
            <circle cx="12"
                    cy="7"
                    r="4"></circle>
          </svg>
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Envio de dados</h2>
          <p class="leading-relaxed">Você nos envia seus dados pessoais e financeiros.</p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-orange-400 pointer-events-none"></div>
      </div>
      <div
           class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-orange-500 text-white relative z-10 title-font font-medium text-sm">
        2</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div
             class="flex-shrink-0 w-24 h-24 bg-orange-300 text-orange-600 rounded-full inline-flex items-center justify-center">
          <svg fill="none"
               stroke="currentColor"
               stroke-linecap="round"
               stroke-linejoin="round"
               stroke-width="2"
               class="w-12 h-12"
               viewBox="0 0 24 24">
            <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
          </svg>

        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Auditoria</h2>
          <p class="leading-relaxed">Apenas verificando se está tudo em ordem.</p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-orange-400 pointer-events-none"></div>
      </div>
      <div
           class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-orange-500 text-white relative z-10 title-font font-medium text-sm">
        3</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div
             class="flex-shrink-0 w-24 h-24 bg-orange-300 text-orange-600 rounded-full inline-flex items-center justify-center">
          <svg fill="none"
               stroke="currentColor"
               stroke-linecap="round"
               stroke-linejoin="round"
               stroke-width="2"
               class="w-12 h-12"
               viewBox="0 0 24 24">
            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
          </svg>
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Contrato</h2>
          <p class="leading-relaxed">Com o contrato assinado é só aguardar o dinheiro na conta.</p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-orange-400 pointer-events-none"></div>
      </div>
      <div
           class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-orange-500 text-white relative z-10 title-font font-medium text-sm">
        4</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div
             class="flex-shrink-0 w-24 h-24 bg-orange-300 text-orange-600 rounded-full inline-flex items-center justify-center">
          <svg fill="none"
               stroke="currentColor"
               stroke-linecap="round"
               stroke-linejoin="round"
               stroke-width="2"
               class="w-12 h-12"
               viewBox="0 0 24 24">
            <path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1zM4 22v-7"></path>
          </svg>
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Dinheiro na mão</h2>
          <p class="leading-relaxed">Essa é a melhor parte. Dinheiro enviado! Verifique sua conta. </p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto mt-5">

      <button href="#"
              (click)="openModal($event)"
              class="
              inline-flex
              items-center
              justify-center
              px-2
              py-3
              text-base
              font-medium
              text-center
              text-gray-900
              border
              border-gray-300
              rounded-lg
              hover:bg-gray-100
              focus:ring-1
              focus:ring-gray-100
              dark:text-white
              dark:border-gray-700
              dark:hover:bg-gray-700
              dark:focus:ring-gray-800">
        Começar
        <i class="material-icons">keyboard_arrow_right</i>
      </button>
    </div>
  </div>
</section>
