<header class="theme-app">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex font-medium font-['Poppins'] items-center mb-4 md:mb-0">
      <span class="ml-3 text-xl">Empresta.tech</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <ng-template #authLinks>
        <a class="cursor-pointer mr-5"
           routerLink="/manage"
           routerLinkActive="font-semibold"
           [routerLinkActiveOptions]="{ exact: true }">Meus empréstimos</a>
        <a class="cursor-pointer mr-5"
           routerLink="/manage-account"
           routerLinkActive="font-semibold"
           [routerLinkActiveOptions]="{ exact: true }">Minha conta</a>
        <a (click)="auth.logout($event)"
           class="cursor-pointer mr-5">Sair</a>
      </ng-template>
      <a class="cursor-pointer mr-5">Sobre</a>
      <a *ngIf="!showAnchors; else authLinks"
         (click)="openModal($event)"
         class="cursor-pointer mr-5">
        Login/Registrar
      </a>
    </nav>
    <button (click)="toggleTheme($event)"
            class="inline-flex items-center border-0 py-1 px-3 focus:outline-none rounded text-base mt-4 md:mt-0">
      Theme
      <svg fill="none"
           stroke="currentColor"
           stroke-linecap="round"
           stroke-linejoin="round"
           stroke-width="2"
           class="w-4 h-4 ml-1"
           viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>
