<!-- Main content -->
<div
  class="relative m-auto left-0 right-0 z-10 w-36 h-52 border-[#F57C00] border-4 top-32 ghost"
>
  <span
    class="absolute left-0 right-0 bottom-10 m-auto text-center text-4xl font-bold"
    >404</span
  >
  <!-- Eyes -->
  <div
    class="rounded-full absolute left-0 right-0 w-3 h-3 bg-[#F57C00] mx-auto mt-10 transform translate-x-6"
  ></div>
  <div
    class="rounded-full absolute left-0 right-0 w-3 h-3 bg-[#F57C00] mx-auto mt-10 transform -translate-x-6"
  ></div>

  <!-- Mouth -->
  <div
    class="w-10 h-2 rounded-lg absolute left-0 right-0 mx-auto mt-20 bg-[#F57C00]"
  ></div>

  <!-- Tail -->
  <div class="corner border-[#F57C00] border-4"></div>
  <div class="corner two border-[#F57C00] border-4"></div>
  <div class="corner three border-[#F57C00] border-4"></div>
  <div class="corner four border-[#F57C00] border-4"></div>

  <div class="over"></div>
  <div class="over two"></div>
  <div class="over three"></div>
  <div class="over four"></div>

  <!-- Shadow -->
  <div
    class="ghost-shadow w-32 h-10 mx-auto mt-56 rounded bg-[#F57C00] left-0 right-0 absolute"
  ></div>
</div>

<div class="container mx-auto text-center mt-60">
  <h2 class="text-4xl font-bold text-[#F57C00] mb-4">Página não encontrada</h2>
  <p>Parece que a página que está procurando está fora do ar ou não existe.</p>
</div>
