@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'google_sans';
  src: url('/assets/fonts/google-sans/ProductSans-Regular.ttf') format('truetype'),
}

.theme-app{
  background: var(--white);
  color: var(--background);
}

body {
  background: var(--background);
}

