@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'google_sans';
  src: url('/assets/fonts/google-sans/ProductSans-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v128/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.theme-app{
  background: var(--white);
  color: var(--background);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons.text-base {
  font-size: inherit;
}

body {
  background: var(--background);
}



