<section *ngIf="haveLoan || haveLoans; else noloan"
         class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">

    <div *ngIf="haveLoan"
         class="mb-[50px]">
      <h2 class="text-lg text-yellow-500 tracking-widest font-medium title-font
        mb-1">
        Olá {{loans[0].user!.alias ?? ''}}!
      </h2>
      <h3 class="md:text-3xl text-2xl font-medium title-font text-gray-900">
        Aqui está seu empréstimo
      </h3>
    </div>


    <div *ngIf="haveLoans"
         class="mb-[50px]">
      <h2 class="text-lg text-yellow-500 tracking-widest font-medium
          title-font">
        Olá {{loans[0].user!.alias ?? ''}}!
      </h2>
      <h3 class="md:text-3xl text-2xl font-medium title-font text-gray-900">
        Aqui estão seus empréstimos.
      </h3>
    </div>

    <div *ngFor="let loan of loans">
      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/3 grow">
          <div *ngIf="loan.status==='WAITING_FOR_AUDITING' "
               class="loan h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24
          rounded-lg overflow-hidden text-center relative">
            <h2 class="tracking-widest text-xs title-font font-medium
            text-gray-400
            mb-1">
              STATUS
            </h2>
            <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900
            mb-3">
              {{ "STATUS.WAITING_FOR_AUDITING.NAME" | translate}}
            </h1>
            <p class="leading-relaxed mb-5">
              {{ "STATUS.WAITING_FOR_AUDITING.DETAILS" | translate}}
            </p>
            <a (click)="loanDetails($event, loan.cod ?? '0000')"
               class="text-[#F57C00] inline-flex items-center cursor-pointer">Mais detalhes
              <svg class="w-4 h-4 ml-2"
                   viewBox="0 0 24 24"
                   stroke="currentColor"
                   stroke-width="2"
                   fill="none"
                   stroke-linecap="round"
                   stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
            <div class="text-center mt-2 leading-none flex justify-center absolute
            bottom-0 left-0 w-full py-4">
              <span class="text-gray-400 mr-3 inline-flex items-center
              leading-none
              text-sm pr-3 py-1 border-r-2 border-gray-200">
                <i class="material-icons mr-1">tag</i>{{loan.cod}}
              </span>
              <span class="text-gray-400 mr-3 inline-flex items-center
              leading-none
              text-sm pr-3 py-1 border-r-2 border-gray-200">
                <i class="material-icons mr-1">payments</i>R$ {{loan.value}}
              </span>
              <span class="text-gray-400 inline-flex items-center leading-none
              text-sm">
                <i class="material-icons mr-1">schedule</i>{{loan.intervals}} parcelas
              </span>
            </div>
          </div>
          <div *ngIf="loan.status==='DENIED' "
               class="loan h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24
          rounded-lg overflow-hidden text-center relative">
            <h2 class="tracking-widest text-xs title-font font-medium
            text-gray-400
            mb-1">
              STATUS
            </h2>
            <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900
            mb-3">
              {{ "STATUS.DENIED.NAME" | translate}}
            </h1>
            <p class="leading-relaxed mb-5">
              {{ "STATUS.DENIED.DETAILS" | translate}}
            </p>
            <a (click)="loanDetails($event, loan.cod ?? '0000')"
               class="text-[#F57C00] inline-flex items-center cursor-pointer">Mais detalhes
              <svg class="w-4 h-4 ml-2"
                   viewBox="0 0 24 24"
                   stroke="currentColor"
                   stroke-width="2"
                   fill="none"
                   stroke-linecap="round"
                   stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
            <div class="text-center mt-2 leading-none flex justify-center absolute
            bottom-0 left-0 w-full py-4">
              <span class="text-gray-400 mr-3 inline-flex items-center
              leading-none
              text-sm pr-3 py-1 border-r-2 border-gray-200">
                <i class="material-icons mr-1">tag</i>{{loan.cod}}
              </span>
              <span class="text-gray-400 mr-3 inline-flex items-center
              leading-none
              text-sm pr-3 py-1 border-r-2 border-gray-200">
                <i class="material-icons mr-1">payments</i>R$ {{loan.value}}
              </span>
              <span class="text-gray-400 inline-flex items-center leading-none
              text-sm">
                <i class="material-icons mr-1">schedule</i>{{loan.intervals}} parcelas
              </span>
            </div>
          </div>
          <div *ngIf="loan.status==='AUDITED' "
               class="loan h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24
          rounded-lg overflow-hidden text-center relative">
            <h2 class="tracking-widest text-xs title-font font-medium
            text-gray-400
            mb-1">
              STATUS
            </h2>
            <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900
            mb-3">
              {{ "STATUS.AUDITED.NAME" | translate}}
            </h1>
            <p class="leading-relaxed mb-5">
              {{ "STATUS.AUDITED.DETAILS" | translate}}
            </p>
            <a (click)="loanDetails($event, loan.cod ?? '0000')"
               class="text-[#F57C00] inline-flex items-center cursor-pointer">Mais detalhes
              <svg class="w-4 h-4 ml-2"
                   viewBox="0 0 24 24"
                   stroke="currentColor"
                   stroke-width="2"
                   fill="none"
                   stroke-linecap="round"
                   stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
            <div class="text-center mt-2 leading-none flex justify-center absolute
            bottom-0 left-0 w-full py-4">
              <span class="text-gray-400 mr-3 inline-flex items-center
              leading-none
              text-sm pr-3 py-1 border-r-2 border-gray-200">
                <i class="material-icons mr-1">tag</i>{{loan.cod}}
              </span>
              <span class="text-gray-400 mr-3 inline-flex items-center
              leading-none
              text-sm pr-3 py-1 border-r-2 border-gray-200">
                <i class="material-icons mr-1">payments</i>R$ {{loan.value}}
              </span>
              <span class="text-gray-400 inline-flex items-center leading-none
              text-sm">
                <i class="material-icons mr-1">schedule</i>{{loan.intervals}} parcelas
              </span>
            </div>
          </div>
          <div *ngIf="loan.status==='APPROVED' "
               class="loan h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24
          rounded-lg overflow-hidden text-center relative">
            <h2 class="tracking-widest text-xs title-font font-medium
            text-gray-400
            mb-1">
              STATUS
            </h2>
            <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900
            mb-3">
              {{ "STATUS.APPROVED.NAME" | translate}}
            </h1>
            <p class="leading-relaxed mb-5">
              {{ "STATUS.APPROVED.DETAILS" | translate}}
            </p>
            <a (click)="loanDetails($event, loan.cod ?? '0000')"
               class="text-[#F57C00] inline-flex items-center cursor-pointer">Mais detalhes
              <svg class="w-4 h-4 ml-2"
                   viewBox="0 0 24 24"
                   stroke="currentColor"
                   stroke-width="2"
                   fill="none"
                   stroke-linecap="round"
                   stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
            <div class="text-center mt-2 leading-none flex justify-center absolute
            bottom-0 left-0 w-full py-4">
              <span class="text-gray-400 mr-3 inline-flex items-center
              leading-none
              text-sm pr-3 py-1 border-r-2 border-gray-200">
                <i class="material-icons mr-1">tag</i>{{loan.cod}}
              </span>
              <span class="text-gray-400 mr-3 inline-flex items-center
              leading-none
              text-sm pr-3 py-1 border-r-2 border-gray-200">
                <i class="material-icons mr-1">payments</i>R$ {{loan.value}}
              </span>
              <span class="text-gray-400 inline-flex items-center leading-none
              text-sm">
                <i class="material-icons mr-1">schedule</i>{{loan.intervals}} parcelas
              </span>
            </div>
          </div>
          <div *ngIf="loan.status==='WAITING_FOR_SIGN' "
               class="loan h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24
          rounded-lg overflow-hidden text-center relative">
            <h2 class="tracking-widest text-xs title-font font-medium
            text-gray-400
            mb-1">
              STATUS
            </h2>
            <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900
            mb-3">
              {{ "STATUS.WAITING_FOR_SIGN.NAME" | translate}}
            </h1>
            <p class="leading-relaxed mb-5">
              {{ "STATUS.WAITING_FOR_SIGN.DETAILS" | translate}}
            </p>
            <a (click)="loanDetails($event, loan.cod ?? '0000')"
               class="text-[#F57C00] inline-flex items-center cursor-pointer">Mais detalhes
              <svg class="w-4 h-4 ml-2"
                   viewBox="0 0 24 24"
                   stroke="currentColor"
                   stroke-width="2"
                   fill="none"
                   stroke-linecap="round"
                   stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
            <div class="text-center mt-2 leading-none flex justify-center absolute
            bottom-0 left-0 w-full py-4">
              <span class="text-gray-400 mr-3 inline-flex items-center
              leading-none
              text-sm pr-3 py-1 border-r-2 border-gray-200">
                <i class="material-icons mr-1">tag</i>{{loan.cod}}
              </span>
              <span class="text-gray-400 mr-3 inline-flex items-center
              leading-none
              text-sm pr-3 py-1 border-r-2 border-gray-200">
                <i class="material-icons mr-1">payments</i>R$ {{loan.value}}
              </span>
              <span class="text-gray-400 inline-flex items-center leading-none
              text-sm">
                <i class="material-icons mr-1">schedule</i>{{loan.intervals}} parcelas
              </span>
            </div>
          </div>
          <div *ngIf="loan.status==='SIGNED' "
               class="loan h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24
          rounded-lg overflow-hidden text-center relative">
            <h2 class="tracking-widest text-xs title-font font-medium
            text-gray-400
            mb-1">
              STATUS
            </h2>
            <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900
            mb-3">
              {{ "STATUS.SIGNED.NAME" | translate}}
            </h1>
            <p class="leading-relaxed mb-5">
              {{ "STATUS.SIGNED.DETAILS" | translate}}
            </p>
            <a (click)="loanDetails($event, loan.cod ?? '0000')"
               class="text-[#F57C00] inline-flex items-center cursor-pointer">Mais detalhes
              <svg class="w-4 h-4 ml-2"
                   viewBox="0 0 24 24"
                   stroke="currentColor"
                   stroke-width="2"
                   fill="none"
                   stroke-linecap="round"
                   stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
            <div class="text-center mt-2 leading-none flex justify-center absolute
            bottom-0 left-0 w-full py-4">
              <span class="text-gray-400 mr-3 inline-flex items-center
              leading-none
              text-sm pr-3 py-1 border-r-2 border-gray-200">
                <i class="material-icons mr-1">tag</i>{{loan.cod}}
              </span>
              <span class="text-gray-400 mr-3 inline-flex items-center
              leading-none
              text-sm pr-3 py-1 border-r-2 border-gray-200">
                <i class="material-icons mr-1">payments</i>R$ {{loan.value}}
              </span>
              <span class="text-gray-400 inline-flex items-center leading-none
              text-sm">
                <i class="material-icons mr-1">schedule</i>{{loan.intervals}} parcelas
              </span>
            </div>
          </div>
          <div *ngIf="loan.status==='WAITING_PAYMENT' "
               class="loan h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24
          rounded-lg overflow-hidden text-center relative">
            <h2 class="tracking-widest text-xs title-font font-medium
            text-gray-400
            mb-1">
              STATUS
            </h2>
            <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900
            mb-3">
              {{ "STATUS.WAITING_PAYMENT.NAME" | translate}}
            </h1>
            <p class="leading-relaxed mb-5">
              {{ "STATUS.WAITING_PAYMENT.DETAILS" | translate}}
            </p>
            <a (click)="loanDetails($event, loan.cod ?? '0000')"
               class="text-[#F57C00] inline-flex items-center cursor-pointer">Mais detalhes
              <svg class="w-4 h-4 ml-2"
                   viewBox="0 0 24 24"
                   stroke="currentColor"
                   stroke-width="2"
                   fill="none"
                   stroke-linecap="round"
                   stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
            <div class="text-center mt-2 leading-none flex justify-center absolute
            bottom-0 left-0 w-full py-4">
              <span class="text-gray-400 mr-3 inline-flex items-center
              leading-none
              text-sm pr-3 py-1 border-r-2 border-gray-200">
                <i class="material-icons mr-1">tag</i>{{loan.cod}}
              </span>
              <span class="text-gray-400 mr-3 inline-flex items-center
              leading-none
              text-sm pr-3 py-1 border-r-2 border-gray-200">
                <i class="material-icons mr-1">payments</i>R$ {{loan.value}}
              </span>
              <span class="text-gray-400 inline-flex items-center leading-none
              text-sm">
                <i class="material-icons mr-1">schedule</i>{{loan.intervals}} parcelas
              </span>
            </div>
          </div>
          <div *ngIf="loan.status==='PAID' "
               class="loan h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24
          rounded-lg overflow-hidden text-center relative">
            <h2 class="tracking-widest text-xs title-font font-medium
            text-gray-400
            mb-1">
              STATUS
            </h2>
            <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900
            mb-3">
              {{ "STATUS.PAID.NAME" | translate}}
            </h1>
            <p class="leading-relaxed mb-5">
              {{ "STATUS.PAID.DETAILS" | translate}}
            </p>
            <a (click)="loanDetails($event, loan.cod ?? '0000')"
               class="text-[#F57C00] inline-flex items-center cursor-pointer">Mais detalhes
              <svg class="w-4 h-4 ml-2"
                   viewBox="0 0 24 24"
                   stroke="currentColor"
                   stroke-width="2"
                   fill="none"
                   stroke-linecap="round"
                   stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
            <div class="text-center mt-2 leading-none flex justify-center absolute
            bottom-0 left-0 w-full py-4">
              <span class="text-gray-400 mr-3 inline-flex items-center
              leading-none
              text-sm pr-3 py-1 border-r-2 border-gray-200">
                <i class="material-icons mr-1">tag</i>{{loan.cod}}
              </span>
              <span class="text-gray-400 mr-3 inline-flex items-center
              leading-none
              text-sm pr-3 py-1 border-r-2 border-gray-200">
                <i class="material-icons mr-1">payments</i>R$ {{loan.value}}
              </span>
              <span class="text-gray-400 inline-flex items-center leading-none
              text-sm">
                <i class="material-icons mr-1">schedule</i>{{loan.intervals}} parcelas
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<ng-template #noloan>
  <div class="flex items-center justify-center h-screen justify-items-center">
    <div class="lg:w-1/2 md:w-[800px]">
      <div class="container px-5 py-24 mx-auto flex items-center md:flex-row
        flex-col">
        <div class="flex flex-col md:pr-10 md:mb-0 mb-6 pr-0 w-full md:w-auto
          md:text-left text-center">
          <h2 class="text-lg text-yellow-500 tracking-widest font-medium
            title-font mb-1">
            Olá!
          </h2>
          <h3 class="md:text-3xl text-2xl font-medium title-font text-gray-900">
            Você ainda não possui empréstimos. Crie um novo empréstimo ou clique
            em saiba mais.
          </h3>
        </div>
        <div class="flex md:ml-auto md:mr-0 mx-auto items-center flex-shrink-0
          space-x-4 justify-items-center">
          <button (click)="openModal($event)"
                  class="bg-gray-100 inline-flex py-3 px-5 rounded-lg items-center
            hover:bg-gray-200 focus:outline-none">
            <i class="material-icons">add_circle</i>
            <span class="ml-4 flex items-center flex-col leading-none">
              <span class="text-xs text-gray-600 mb-1">NOVO</span>
              <span class="title-font font-medium">empréstimo</span>
            </span>
          </button>
          <button (click)="redirectToAbout($event)"
                  class="bg-gray-100 inline-flex py-3 px-5 rounded-lg
            items-center
            hover:bg-gray-200 focus:outline-none">
            <i class="material-icons">read_more</i>
            <span class="ml-4 flex items-center flex-col leading-none pr-5">
              <span class="text-xs text-gray-600 mb-1">SAIBA</span>
              <span class="title-font font-medium px-3">mais</span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-loan-create></app-loan-create>
